
.main{
    width: 100%;
    height: 100%;
}

.containerCentral{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eye_button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.logoImage{
    padding: 0.5%;
}

.title{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin: 2% 0;
}

.containerBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #F79F1A;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 480px;
    border-radius: 3%;
    box-sizing: border-box;
    padding: 0 3em;
}

.containerBody label{
    margin-bottom: 5px;
}

.containerBody input{
    margin-bottom: 6px;
    font-family: 'Inter';
    box-sizing: border-box;
    padding: 0 0.5em;
}

.span{
    font-size: 20px;
    padding: 8% 0 2em 0;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

.containerInputText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 2%;
}

.inputEmailTel{
    border: none;
    height: 35px;
    width: 400px;
    border-radius: 12px;
    font-size: 16px;
}

.inputEmailTel:focus{
    font-size: 16px;
    border:0 none;
    outline: 0;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.containerPasswords{
    display: flex;
    flex-direction: column;
}

.inputsEmail{
    display: flex;
    flex-direction: column;
}

.password{
    display: flex;
    flex-direction: row;
}

.password img{
    margin-left: 10px;
}

.inputPasswords{
    border: none;
    height: 35px;
    width: 375px;
    border-radius: 12px;
    font-size: 16px;
}

.inputPasswords:focus{
    font-size: 16px;
    border:0 none;
    outline: 0;
}

.containerFeet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    display: flex;
    align-items: center;
    padding-top: 16%;
}

.button button:hover{
    background-color: #FFFFFF;
    color: #F79F1A;
    cursor: pointer;
}

.link a{
    padding-top: 5%;
    color: #046E1B;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover{
    color: #FFFFFF;
}

.link {
    margin-top: 6%;
}

.buttonCadastrar{
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 14px;
    background-color: #046E1B;
    font-weight: bold;
}

.labelPass{
    margin-top: 2%;
}