
.main{
    width: 100%;
    height: 100%;
}

.logoImage{
    padding: 0.5%;
}

.title{
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 3.5%;
}

.containerBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #F79F1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 550px;
    border-radius: 3%;
}

.span{
    font-size: 150%;
    padding-top: 8%;
    color: #FFFFFF;
    font-weight: bold;
}

.containerInputName{
    color: #FFFFFF;
    display: flex;
    font-size: 130%;
    width: 85%;
    justify-content: space-between;
    padding-top: 5%;
}

.inputName{
    display: flex;
    flex-direction: column;
}

.inputSurname{
    display: flex;
    flex-direction: column;
}

.inputText{
    border: none;
    height: 35px;
    width: 200px;
    border-radius: 15px;
    color: #F79F1A;
    font-weight: bold;
    font-size: 16px;
}

.inputText:focus{
    color: #F79F1A;
    font-weight: bold;
    font-size: 16px;
    border:0 none;
    outline: 0;
}

.containerInputText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 130%;
    margin-top: 2%;
}

.inputEmailTel{
    border: none;
    height: 35px;
    width: 420px;
    border-radius: 15px;
    color: #F79F1A;
    font-weight: bold;
    font-size: 16px;
}

.inputEmailTel:focus{
    color: #F79F1A;
    font-weight: bold;
    font-size: 16px;
    border:0 none;
    outline: 0;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.containerPasswords{
    display: flex;
    flex-direction: column;
}

.inputsEmail{
    display: flex;
    flex-direction: column;
}

.inputsCellphone{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.password{
    display: flex;
    flex-direction: row;
}

.password img{
    margin-left: 10px;
}

.confirmPassword{
    display: flex;
    flex-direction: row;
}

.confirmPassword img{
    margin-left: 10px;
}

.inputPasswords{
    border: none;
    height: 35px;
    width: 375px;
    border-radius: 15px;
    color: #F79F1A;
    font-weight: bold;
    font-size: 16px;
}

.inputPasswords:focus{
    color: #F79F1A;
    font-weight: bold;
    font-size: 16px;
    border:0 none;
    outline: 0;
}

.containerFeet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    display: flex;
    align-items: center;
    padding-top: 10%;
}

.button button:hover{
    background-color: #FFFFFF;
    color: #F79F1A;
    cursor: pointer;
}

.buttonCadastrar{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    background-color: #046E1B;
    margin-right: 10%;
}

.buttonExcluir{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    background-color: hwb(9 2% 62%);
}

.labelPass{
    margin-top: 2%;
}