
.main{
    width: 100%;
    height: 100%;
}

.logoImage{
    padding: 0.5%;
}

.welcome{
    width: 100%;
    padding-top: 2em;
}

.containerBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
}

.container{
    background-color: #F79F1A;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 450px;
    border-radius: 3%;
    box-sizing: border-box;
    padding: 0 3em;
}

.containerBody label{
    margin-bottom: 5px;
}

.containerBody input{
    margin-bottom: 6px;
    font-family: 'Inter';
    box-sizing: border-box;
    padding: 0 0.5em;
}

.span{
    font-size: 20px;
    padding: 8% 0 2em 0;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.containerInputName{
    color: #FFFFFF;
    font-size: 16px;
}

.eye_button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.inputName{
    display: flex;
    flex-direction: column;
}

.inputText{
    border: none;
    height: 35px;
    width: 400px;
    border-radius: 12px;
    font-size: 16px;
}

.inputText:focus{
    font-size: 16px;
    border:0 none;
    outline: 0;
}

.containerInputText{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 2%;
}

.inputEmailTel{
    border: none;
    height: 35px;
    width: 400px;
    border-radius: 12px;
    font-size: 16px;
}

.inputEmailTel:focus{
    font-size: 16px;
    border:0 none;
    outline: 0;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.containerPasswords{
    display: flex;
    flex-direction: column;
}

.inputsEmail{
    display: flex;
    flex-direction: column;
}

.inputsCellphone{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.password{
    display: flex;
    flex-direction: row;
}

.password img{
    margin-left: 10px;
}

.confirmPassword{
    display: flex;
    flex-direction: row;
}

.confirmPassword img{
    margin-left: 10px;
}

.inputPasswords{
    border: none;
    height: 35px;
    width: 375px;
    border-radius: 12px;
    font-size: 16px;
}

.inputPasswords:focus{
    font-size: 16px;
    border:0 none;
    outline: 0;
}

.containerFeet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    display: flex;
    align-items: center;
    padding-top: 10%;
}

.button button:hover{
    background-color: #FFFFFF;
    cursor: pointer;
}

.buttonCadastrar{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 14px;
    background-color: #046E1B;
    margin-right: 10%;
    font-weight: bold;
}

.buttonExcluir{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 14px;
    background-color: hwb(9 2% 62%);
    font-weight: bold;
}

.labelPass{
    margin-top: 2%;
}