/* CSS GLOBAL. ADD VARIÁVEIS, FONTES, ETC. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Inter' !important;
  height: 100vh;
}

.ant-input,
.ant-picker {
  padding: 0.5em;
}

.ant-input-number {
  padding: 0.2em 0;
}

.ant-select-selector {
  padding: 1.3em 0.5em !important;
}

.ant-picker-calendar-header .ant-select-selector,
.ant-pagination-options .ant-select-selector {
  padding: 0 11px !important;
}

.ant-pagination {
  margin-right: 20px !important;
}

.main-internal {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  max-height: 100%;
  overflow-y: hidden;
}

.page {
  width: 100%;
  padding: 2em 4em 4em 4em;
  overflow-y: scroll;
}

.title {
  font-size: 24px;
  font-weight: 600;
  display: block;
  margin-bottom: 2em;
}

.table {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  overflow: hidden;
  border-collapse: separate;
}

.table table tr th {
  font-size: 12px;
}

.table table tr td {
  font-size: 15px;
}

.calendar-reservation {
  margin-bottom: 0.5em;
}

.notes-month {
  border-radius: 6px;
  padding: 0 1em;
  color: #fff;
  background-color: #7E2726;
}

.accomodation .ant-form-item-explain-error {
  margin-top: 0.5em;
}

.ant-form-item-explain-error {
  margin-bottom: 1em;
}

.new{
  display: flex;
  margin: 0 0 1em auto;
  
}

nav{
  width: 100%;
  padding: 1.5em 3em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

nav a{
  text-decoration: none;
}

.logo{
  display: flex;
  align-items: center;
}

.logo a{
  font-size: 20px;
  margin-left: 0.5em;
  font-weight: 600;
  color: #046E1B;
}

.nav-links{
  justify-content: space-between;
  width: 25%;
  display: flex;
}

button, a{
  cursor: pointer;
  transition: 0.5s;
  font-family: 'Inter';
}

.nav-links a{
  display: block;
  color: #000 !important;
  cursor: pointer;
}

#login-nav{
  background-color: #046E1B;
  color: #fff;
  font-size: 16px;
  font-family: 'Inter';
  padding: 8px 30px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}

#logout-nav{
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-family: 'Inter';
  margin-left: 2em;
  cursor: pointer;
}